h2 {
  text-align:center;
  color:#ad332a;
  font-size: 32px;
  padding: 10px;
  font-family: Algerian;
  letter-spacing: 3px;
  text-decoration: underline;
  text-decoration-style:solid;
  background-color: rgba(245, 245, 245, 0.5);
}

body {
  background-color: #F2F2F2;
  background-image: url('image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
